    <link rel="stylesheet" href="{{{uiRootPath}}}/css/nav.css">
    {{#if page.component}}
    <meta name="page-component" content="{{page.component.name}}">
    <meta name="page-version" content="{{page.version}}">
    <meta name="page-url" content="{{page.url}}">
	<meta name="context" content="{{page.component.title}} {{page.componentVersion.displayVersion}}">
	{{!--<div class="context">
      <span class="title">{{page.component.title}}</span>
      <span class="version">{{page.componentVersion.displayVersion}}</span>
    </div>--}}
    {{/if}}
