<main class="article">
{{> toolbar}}
  <div class="content">
{{#if (eq page.layout '404')}}
{{> article-404}}
{{else}}
{{> toc}}
<script src="{{uiRootPath}}/js/vendor/typesense-instantsearch-adapter.min.js"></script>
<script src="{{uiRootPath}}/js/vendor/instantsearch.production.min.js"></script>
</div>
  <div class="search-panel">
    <div class="search-panel__filters">
      <div id="brand-list"></div>
    </div>
    <div id="searchbox" class="search-panel__searchbox"></div>
    <div class="search-panel__results">
      <div id="hits"></div>
      <div id="pagination"></div>
      <div id="trending"></div>
    </div>
  </div>
  <div id="search-results-container"></div>
  <div id="hierarchical-menu"></div>
</main>
<script>
  const typesenseInstantsearchAdapter = new TypesenseInstantSearchAdapter({
    server: {
      appId: "123",
      nodes: [{
        host: "help.docsvision.com",
        port: "443",
        protocol: "https"
      }],
      apiKey: '{{env.TYPESENSE_API_KEY}}',
      sendApiKeyAsQueryParam: false,
    },
    additionalSearchParameters: {
      collectionName: '{{env.TYPESENSE_IDX_NAME}}',
      indexName: '{{env.TYPESENSE_IDX_NAME}}',
      queryBy: "content",
      per_page: 15,
      infix: "always"
    }
  }), searchClient = typesenseInstantsearchAdapter.searchClient,
  search = instantsearch({
    indexName: '{{env.TYPESENSE_IDX_NAME}}',
    searchClient: searchClient,
    insights: false,
    routing: true,
    searchFunction(helper) {
    if (helper.state.query === '') {
      document.querySelector('.search-panel__results').classList.add('search-panel__results_empty');
    } else {
      document.querySelector('.search-panel__results').classList.remove('search-panel__results_empty');
      helper.search();
    }
  },
    });
search.addWidgets([
instantsearch.widgets.searchBox({container: "#searchbox"}),
instantsearch.widgets.hits({
  container: "#hits", templates: {
    item: (t, {html: e, components: a}) => {
      let title = t.hierarchy.lvl0;
      let hierarchyString = t.hierarchy.lvl0;
      if (!t.content) {
        return null
      }
      for (let i = 1; i < 7; i++) {
        if (t.hierarchy[`lvl${i}`]) {
          title = t.hierarchy[`lvl${i}`];
          hierarchyString += ` > ${t.hierarchy[`lvl${i}`]}`
        }
      }
      console.log(t)
      return e`
        <article>
        ${hierarchyString.replaceAll("&quot;", `"`)}
          <h1>
            <a href="${t.url}">${title.replaceAll("&quot;", `"`)}</a>
          </h1>
          <p>${t.content?.replaceAll("&quot;", `"`)}</p>
          <a href="${t.url}">Подробнее</a>
        </article>
      `
    }
  }
}),
instantsearch.widgets.configure({hitsPerPage: 8}),
{{!-- instantsearch.widgets.hierarchicalMenu({
  container: '#hierarchical-menu',
  attributes: [
    'hierarchy.lvl0','hierarchy.lvl1'
  ],
}), --}}
  instantsearch.widgets.pagination({container: "#pagination"}),
]),
search.start();
</script>
{{/if}}
  </div>
</main>
